<template>
<body class="bg-white">
  <div class="flex flex-row">
	<Nav/>
	<router-view/>
	<Modal :open="openLinkModal" @close="openLinkModal = false">
	<div class="max-w-lg w-full bg-white rounded-lg shadow-2xl px-6 py-6">
		<h2 class="font-semibold text-gray-900 text-2xl leading-tight border-b-2 border-gray-200 pb-4">Connect to Twitter</h2>
		<p class="mt-4 text-gray-700">You need to connect your twitter account before using the app.</p>
		<div class="mt-6">
			<button type="button" @click="openTwitter" class="px-4 py-2 text-white font-semibold bg-blue-500 hover:bg-blue-600 border border-transparent rounded focus:outline-none focus:shadow-outline">
			Connect to Twitter
			</button>
			<button @click="openLinkModal = false" class="ml-4 px-4 py-2 text-gray-800 font-semibold bg-white hover:bg-gray-100 border rounded focus:outline-none focus:shadow-outline">
			Cancel
			</button>
		</div>
	</div>
	</Modal>
	<Modal :open="openAuthModal" @close="openAuthModal = false">
	<div class="max-w-lg w-full bg-white rounded-lg shadow-2xl px-6 py-6">
		<h2 class="font-semibold text-gray-900 text-2xl leading-tight border-b-2 border-gray-200 pb-4">Connect to Twitter</h2>
		<p class="mt-4 text-gray-700">Please Enter the Verfication Code.</p>
		<input class="bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 mt-2 block w-full appearance-none leading-normal" type="text" placeholder="0000000" v-model="verifier">
		<div class="mt-6">
			<button type="button" @click="authorize" class="px-4 py-2 text-white font-semibold bg-blue-500 hover:bg-blue-600 border border-transparent rounded focus:outline-none focus:shadow-outline">
			Submit
			</button>
		</div>
	</div>
	</Modal>
  </div>
</body>
</template>

<script>
import Nav from "./components/SidebarNav/Nav.vue";
import Modal from './components/Statics/Modal.vue'

export default {
  name: "app",
  components: {
	Nav,
	Modal
  },
  data() {
	return {
	  openLinkModal: false,
	  openAuthModal: false,
	  twitterUrl: '',
	  verifier: ''
	}
  },
  mounted() {
  	this.checkAuthneticated().then(res => {
  		if(!res.message) {
  			this.getTwitterUrl().then(res => {
  				this.twitterUrl = res.message
  				console.log(this.twitterUrl)
  			})
  			this.openLinkModal = true;
  		}
  	})
  },
  methods: {
  	checkAuthneticated: function() {
		return frappe.call('twit.api.is_authenticated')
	},
	getTwitterUrl: function() {
		return frappe.call('twit.api.get_authentication_url')
	},
	openTwitter: function() {
		let win = window.open(this.twitterUrl, '_blank');
		this.openLinkModal = false
		this.openAuthModal = true
		win.focus();
	},
	authorize: function() {
		frappe.call('twit.api.authorize', {
			verifier: this.verifier
		}).then(res => {
			console.log(res.message)
		})
	}
  }
};
</script>
<style>
.origin-top-right {
  transform-origin: top right;
}
.transition-all {
  transition-property: all;
}
.transition-fastest {
  transition-duration: 50ms;
}
.transition-faster {
  transition-duration: 100ms;
}
.transition-fast {
  transition-duration: 150ms;
}
.transition-medium {
  transition-duration: 200ms;
}
.ease-out-quad {
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}
.ease-in-quad {
  transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}
.scale-70 {
  transform: scale(.7);
}
.scale-100 {
  transform: scale(1);
}
</style>