<template>
  <div class="bg-white py-3 px-4 border-b">
    <div class="flex justify-between">
      <div class="flex">
        <router-link tag="div" :to="{ name: 'message-home' }" class="self-center cursor-pointer mr-6 lg:hidden">
          <FeatherIcon :name="`chevron-left`" :size="20"/>
        </router-link>
        <img
          class="w-12 h-12 rounded-full mr-4"
          :src="'https://ui-avatars.com/api/?background=EBF8FF&color=63B3ED&name=' + user"
          alt="Elon Musk"
        >
        <div class="self-center">
          <p class="text-gray-900 text-xl font-bold">{{ user }}</p>
        </div>
      </div>
      <div class="self-center">
        <FeatherIcon :name="`info`" :size="20"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CHeader",
  props: ["user"]
};
</script>

<style>
</style>
