<template>
  <div class="flex-grow flex flex-col justify-between h-screen border-r">
    <CHeader :user="user"/>
    <CBody/>
    <CActions/>
  </div>
</template>

<script>
import CHeader from "./ConversationHeader.vue";
import CBody from "./ConversationBody.vue";
import CActions from "./ConversationActions.vue";

export default {
  name: "Conversation",
  props: ["user"],
  components: {
    CHeader,
    CBody,
    CActions
  }
};
</script>

<style>
</style>
