<template>
  <div class="w-full flex flex-row">
    <ConversationsList :class="classList"/>
    <Conversation v-if="id" :user="id"/>
    <div class="hidden lg:flex w-3/4 flex-col justify-center" v-else>
      <img class="self-center w-2/3" src="https://assets-ouch.icons8.com/thumb/98/e54901f2-c936-4d61-b08d-650df11dcd62.png">
      <p class="self-center text-gary-800 font-thin text-2xl mb-24">Please Select a Conversation to Continue</p>
    </div>
  </div>
</template>

<script>
import ConversationsList from "../components/ConversationsList/ConversationsList.vue";
import Conversation from "../components/Conversation/Conversation.vue";

export default {
  name: "Messages",
  props: ["id"],
  components: {
    ConversationsList,
    Conversation
  },
  computed: {
    classList: function() {
      if (this.id) {
        return 'hidden lg:block'
      }
      else {
        return 'block'
      }
    }
  }
};
</script>

<style>
</style>
